

<div class="border-2 rounded-lg p-5">
    <h2 class="text-xl font-bold ml-2">My Favorite Subjects</h2>
    <ng-container *ngFor="let subject of subject_list">
                <button 
                (click)="sendDataToMain(subject)" 
                [ngClass]="{
                'bg-slate-200 p-2 m-2 w-52' : true }">
                    <div class="flex gap-2">
                        <img class="w-6 h-6" [src]="subject.thumbnail">
                        {{ subject.subjectName}}
                    </div>
                </button>         
    </ng-container>
</div>
